.color-nav {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

.color-foot {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  position: fixed;
  bottom: 0;
}

.footer-child{
  color: rgb(black);
  width: 50%;
  float: left;
  padding: 10px;
}

/*Tutorial CSS*/
.prevBtn , .nextBtn {
background-color: red;
color: black;
}

.layer2, .layer3, .layer4, .layer5{
display: inline-block;
}

/*Transition CSS*/
.numberContainer-enter{
opacity: 0;
}
/* This is where we can add the transition*/
.numberContainer-enter-active{
opacity: 1;
transform: translateX(0);
transition: opacity 400ms;
}

.numberContainer-enter-done{
opacity: 1;
transform: scale(0.9);
transition: opacity 400ms, transform 400ms;
}

/* This fires as soon as the this.state.showList is false */
.numberContainer-exit-done{
opacity: 0;
}
/* fires as element leaves the DOM*/
.numberContainer-exit-active{
opacity: 0;
transform: scale(0.9);
transition: opacity 400ms, transform 400ms;
}


.numberlist-enter{
opacity: 0;
}
.numberList-enter-active{
opacity: 1;
transform: translateX(0);
transition: opacity 400ms, transform 400ms;
}
/* This fires as soon as the this.state.showList is false */
.numberList-exit-done{
opacity: 0;
}
/* fires as element leaves the DOM*/
.numberList-exit-active{
opacity: 0;
transform: scale(0.9);
transition: opacity 400ms, transform 400ms;
}

.numberList-enter-done{
opacity: 1;
/* transform: scale(0.9); */
/* transition: opacity 400ms, transform 400ms; */
}

/*---------------------*/
.numberAppear-enter,.numberAppear-appear {
opacity: 0;
}

.numberAppear-enter-done{
opacity: 1;
transform: scale(0.9);
transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 400ms;
}

.numberAppear-enter-active{
opacity: 1;
/* transform: translateX(0); */
transform: scale(0.9);
transition: opacity 400ms, transform 400ms;
}

.numberDisappear-enter,.numberDisappear-appear {
  opacity: 1;
}

.numberDisappear-enter-active{
  opacity: 0;
  /* transform: translateX(0); */
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}

.numberDisappear-enter-done{
  opacity: 0;
  transform: scale(0.9);
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 1000ms;
}

.numberDisppear-exit{
opacity: 1;
transform: scale(0.9);
transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 400ms;
}

.numberDisppear-exit-active{
opacity: 0;
transform: scale(0.9);
transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 400ms;
}


.numberDisppear-exit-done{
opacity: 0;
transform: scale(0.9);
transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 400ms;
}



