.Timers {
    width: 180px;
    margin: 0 auto;
    text-align: center;
  }
  
  #display {
    margin-bottom: 20px;
  }
  #display span {
    font-size: 28px;
  }
  #buttons button:nth-child(2) {
    margin-left: 8px;
  }
  
  button {
    font-size: 16px;
    background-color: rgb(35, 165, 217);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(28, 173, 173);
  }
  button:active {
    background-color: rgb(21, 117, 130);
  }
  button:focus {
    outline: 0;
  }
